/* 前台主樣式 */
:root {
  --black: #000000;
  --black-hover: #474747;
  --gray: #b4b4b4;
  --light-gray: #e5e5e5;
  --white: #fff;
}
.front h5 {
  margin: 0;
}
.front .border-bottom-gray {
  border-bottom: 1px solid var(--light-gray);
}
.front .border-bottom-black {
  border-bottom: 1px solid var(--black);
}
.front .subtitle {
  color: var(--gray);
  letter-spacing: 0.12em;
}
.front .title {
  color: var(--black);
  letter-spacing: 0.12em;
}
.front .close-offcanva-btn {
  background-color: var(--black);
  padding: 8px;
  color: var(--white);
  border-radius: 0px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.front .primary-btn {
  background-color: var(--black);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--white);
  border-radius: 0px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.front .secondary-btn {
  background-color: var(--white);
  border: 1px solid var(--black);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--black);
  border-radius: 0px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

/* products 內頁樣式 */
.front nav .burger-active {
  color: darkorange;
}
.front .products-page header {
  border-bottom: 1px solid #000;
}
.front .products-page .list-pic {
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 60px;
}

/* Single-products 內頁樣式 */
.front .singleProducts-page .badge-gray {
  font-weight: 400;
  border-radius: 100px;
  font-size: 14px;
  background-color: #ffe346;
  color: var(--black);
}
.front .singleProducts-page .badge-line {
  font-weight: 400;
  border-radius: 100px;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}
.front .modal .modal-pic {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.front .modal .backdrop {
  z-index: -1;
  background-color: rgb(0, 0, 0, 0.5);
}
.front .singleProducts-page input {
  border: 1px solid var(--black);
  border-radius: 0;
  height: 42px;
}
.front .singleProducts-page .input {
  width: 30px;
}
