.dusplay_en {
  font-family: "Paytone One";
}
.object-fit {
  object-fit: cover;
}
.black_bg_color {
  background: #000;
}
.black_color {
  color: #000;
}
p {
  margin: 0;
}
.product_list th {
  padding-top: 16px;
  padding-bottom: 16px;
  vertical-align: middle;
}
.product_list td {
  padding-top: 16px;
  padding-bottom: 16px;
  vertical-align: middle;
}
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
}
